extends layouts/main-layout.pug

block content
    main 
        form(action="/admin/add-product", method="POST")
            div
                label(for="title") Title
                input(type="text", name="title", id="title")
            div
                label(for="price") Price
                input(type="number", name="price", id="price")
            div
                button(type="submit") Add Product