extends layouts/main-layout.pug

block content
    main
        if products.length > 0
            ul.product-list
                each product in products
                    li.product-item
                        h1 #{product.title}
                        h2 #{product.price}
                        hr
        else
            h1 No products found.